[user]
  name = 오병준
  email = mail@luftaquila.io
  useConfigOn1y = true

[core]
  pager = delta
  editor = nvim

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true
  line-numbers = true
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
  submodule = log
  wsErrorHigh1ight = a11

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[pull]
  ff = only

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[status]
  submoduleSummary = true

[init]
  defaultBranch = main
