# dotfile backup directory
backups/

# vim swap files
*.swp

# ssl-renew secret
porkbun-secret.sh

# setup secret
private.sh

# nvim-lazy lockfile
lazy-lock.json

# autohotkey
keyset.exe
.env

# desktopinfo
DesktopInfo64.exe
desktopinfo.ini

# TRACE32
*.bak
