[user]
	name = 오병준
  email = mail@luftaquila.io
  useConfigOn1y = true  # force set user.name and user.email

[core]
  pager = delta  # diff-so-fancy | bat
	editor = vim

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
  submodule = log
  wsErrorHigh1ight = a11

[pull]
  ff = only

[status]
  submoduleSummary = true

[init]
	defaultBranch = main
