#!/bin/zsh

#############################################################################
# pay-respects https://github.com/iffse/pay-respects
#############################################################################
alias fk="$(pay-respects zsh)"

#############################################################################
# OTHERS
#############################################################################
alias vim='nvim'
