layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
        format_left  "{mode} {tabs}{pipe_zjstatus_hints}"
        format_right  "{command_hostname}{command_cpu_arch}{command_uptime}{command_ip}{command_weather}{command_rainbarf}{datetime}"

        mode_locked                  "#[bg=#FF87A5,fg=#7d001f,bold]  "
        mode_normal                  "#[bg=#aa87fe,fg=#3c01cd,bold] ❤ "
        mode_resize                  "#[bg=#ff9969,fg=#7f3513,bold] 󰁜 "
        mode_pane                    "#[bg=#9FFBB6,fg=#30563a,bold]  "
        mode_move                    "#[bg=#FFD896,fg=#905b00,bold] 󰇀 "
        mode_tab                     "#[bg=#80BDFF,fg=#0051a8,bold]  "
        mode_scroll                  "#[bg=#412da2,fg=#c9c0ff,bold] 󰹺 "
        mode_search                  "#[bg=#e28e00,fg=#ffe9c4,bold]  "
        mode_enter_search            "#[bg=#e28e00,fg=#ffe9c4,bold]  "
        mode_session                 "#[bg=#FF87A5,fg=#7d001f,bold] 󰓹 "
        mode_tmux                    "#[bg=#c9c0ff,fg=#412da2,bold]  "
        mode_default_to_mode         "tmux"

        tab_active                   "#[bg=#9c73fe,fg=#f2ecff,bold] {index} {name} "
        tab_normal                   "#[fg=#7a6c94,bold] {index} {name} "
        tab_separator                " "
        tab_rename                   "#[bg=#80BDFF,fg=#0051a8,bold] {index} {name} {floating_indicator} "

        tab_display_count            "5"
        tab_truncate_start_format    "#[fg=#FFD080]  +{count}  "
        tab_truncate_end_format      "#[fg=#FFD080]   +{count} "

        datetime                     "#[fg=#f8f8f2,bg=#6272a4] {format}"
        datetime_format              "%Y-%m-%d %a %H:%M:%S %Z "
        datetime_timezone            "Asia/Seoul"

        command_hostname_command     "zsh -c 'echo $_p9k_os_icon $(hostname -s)'"
        command_hostname_format      "#[fg=#8be9fd,bg=#282a36]  {stdout} "
        command_hostname_interval    "0"

        command_cpu_arch_command     "uname -m"
        command_cpu_arch_format      "#[fg=#ff79c6,bg=#282a36]  {stdout} "
        command_cpu_arch_interval    "0"

        command_uptime_command       "bash -c \"uptime | awk -F' up ' '{print $2}' | cut -d',' -f1\""
        command_uptime_format        "#[fg=#50fa7b,bg=#282a36]  {stdout} "
        command_uptime_interval      "3600"

        command_ip_command           "curl -s ifconfig.me"
        command_ip_format            "#[fg=#bd93f9,bg=#282a36] 󰖟 {stdout}  "
        command_ip_interval          "3600"

        command_weather_command      "bash -c \"curl 'wttr.in?format=1' | tr -s ' ' | tr -d '+'\""
        command_weather_format       "#[fg=#f1fa8c,bg=#282a36]{stdout}  "
        command_weather_interval     "3600"

        command_rainbarf_command     "rainbarf --tmux --rgb --no-battery --width 20"
        command_rainbarf_format      "{stdout}"
        command_rainbarf_interval    "2"
        command_rainbarf_rendermode  "dynamic"

        pipe_zjstatus_hints_format "{output}"
      }
    }
  }
}
